@import "tailwindcss";

:root {
  --background: #010103;
  --foreground: #ededed;
}

* {
  scroll-behavior: smooth;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);


  --color-black-100: #010103;
  --color-black-200: #0E0E10;
  --color-black-300: #1C1C21;
  --color-black-500: #3A3A49;
  --color-black-600: #1A1A1A;

  /* Escala de blancos */

  --color-white-800: #E4E4E6;
  --color-white-700: #D6D9E9;
  --color-white-600: #AFB0B6;
  --color-white-500: #62646C;


  --bg-black-100: #010103;
  --bg-black-200: #0E0E10;
  --bg-black-300: #1C1C21;
  --bg-black-500: #3A3A49;
  --bg-black-600: #1A1A1A;

  /* Escala de blancos */
  --bg-white-800: #E4E4E6;
  --bg-white-700: #D6D9E9;
  --bg-white-600: #AFB0B6;
  --bg-white-500: #62646C;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
body {
  background: var(--background);
  color: var(--foreground);
}


.c-space {
  @apply sm:px-10 px-5;
}

.head-text {
  @apply sm:text-4xl text-3xl font-semibold;
}

.nav-ul {
  @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
}

.nav-li {
  @apply text-neutral-400 hover:text-white hover:bg-black-500 w-full rounded-md py-2 px-5;
}

.nav-li_a {
  @apply text-lg md:text-base hover:text-white transition-colors;
}

.nav-sidebar {
  @apply absolute left-0 right-0 bg-black-200 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
}

.text-gray_gradient {
  @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
}

/* button component */
.btn {
  @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md bg-black-300 transition-all active:scale-95 text-white mx-auto;
}

.btn-ping {
  @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
}

.btn-ping_dot {
  @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
}

/* hero section */
.hero_tag {
  @apply text-center xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-black !leading-normal;
}

/* about section */
.grid-container {
  @apply w-full h-full border border-black-300 bg-black-200 rounded-lg sm:p-7 p-4 flex flex-col gap-5;
}

.grid-headtext {
  @apply text-xl font-semibold mb-2 text-white;
}

.grid-subtext {
  @apply text-[#afb0b6] text-base text-pretty;
}

.copy-container {
  @apply cursor-pointer flex justify-center items-center gap-2;
}

/* projects section  */
.arrow-btn {
  @apply w-10 h-10 p-3 cursor-pointer active:scale-95 transition-all rounded-full;
}

.tech-logo {
  @apply w-10 h-10 rounded-md p-2 bg-neutral-100/10 backdrop-filter backdrop-blur-lg flex justify-center items-center;
}

/* clients section */
.client-container {
  @apply grid md:grid-cols-3 grid-cols-1 gap-5 mt-12;
}

.client-review {
  @apply rounded-lg md:p-10 p-5 col-span-1 bg-black-300;
}

.client-content {
  @apply flex lg:flex-row flex-col justify-between lg:items-center items-start gap-5 mt-7;
}

/*  work experience section */
.work-container {
  @apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
}

.work-canvas {
  @apply col-span-1 rounded-lg bg-black-200 border border-black-300;
}

.work-content {
  @apply col-span-2 rounded-lg bg-black-200 border border-black-300;
}

.work-content_container {
  @apply grid grid-cols-[auto_1fr] items-start gap-5 transition-all ease-in-out duration-500 cursor-pointer hover:bg-black-300 rounded-lg sm:px-5 px-2.5;
}

.work-content_logo {
  @apply rounded-3xl w-16 h-16 p-2 bg-black-600;
}

.work-content_bar {
  @apply flex-1 w-0.5 mt-4 h-full bg-black-300 group-hover:bg-black-500 group-last:hidden;
}

/* contact section */
.contact-container {
  @apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
}

.field-label {
  @apply text-lg text-white-600;
}

.field-input {
  @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-white-800 shadow-black-200 shadow-2xl focus:outline-none;
}

.field-btn {
  @apply bg-black-500 px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-white gap-3 mb-20;
}

.field-btn_arrow {
  @apply w-2.5 h-2.5 object-contain invert brightness-0;
}

/*  footer */
.social-icon {
  @apply w-12 h-12 rounded-full flex justify-center items-center bg-black-300 border border-black-200;
}
.path-container{
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 1));

}


.path-profile{
  clip-path: path('M 40,0 L 315,0 A 30,30 0,0,1 342,27 L 342,40 A 23,23 0,0,0 368,52 A 30,30 0,0,1 400,78 L 400,372 A 65,65 0,0,1 340,420 L 101,420 A 45,45 0,0,1 60,373 L 60,280 A 25,25 0,0,0 40,255 L 28,255 A 25,25 0,0,1 0,230 L 0,40 A 40,40 0,0,1 40,0 Z');
}


.social-path{
  clip-path: inset(0.5px round 0 25px)
}


@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1) skew(0deg, 0deg);
  }
  15% {
    transform: translate(10px, 10px) rotate(1deg) scale(1.02) skew(2deg, 1deg);
  }
  25% {
    transform: translate(10px, 15px) rotate(1.5deg) scale(1.02) skew(1deg, 2deg);
  }
  40% {
    transform: translate(5px, 20px) rotate(0.5deg) scale(1.03) skew(-1deg, 1deg);
  }
  50% {
    transform: translate(0, 20px) rotate(0deg) scale(1.05) skew(0deg, 0deg);
  }
  65% {
    transform: translate(-5px, 15px) rotate(-0.5deg) scale(1.03) skew(-1deg, -1deg);
  }
  75% {
    transform: translate(-10px, 15px) rotate(-1.5deg) scale(1.02) skew(1deg, -2deg);
  }
  85% {
    transform: translate(-5px, 10px) rotate(-1deg) scale(1.01) skew(-2deg, 1deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg) scale(1) skew(0deg, 0deg);
  }
}

.floatingImage {
  animation: float 15s linear infinite;
  will-change: transform;
  transform-origin: center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  filter: contrast(1.1) brightness(1.1);
}


.animatedProject img{
  animation: animated-project 8s ease-in-out infinite;
}

@keyframes animated-project {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}