@import "tailwindcss";

:root {
  --background: #0A0D36;
  --foreground: #ededed;
}

* {
  scroll-behavior: smooth;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);


  --color-black-100: #010103;
  --color-black-200: #0E0E10;
  --color-black-300: #1C1C21;
  --color-black-500: #3A3A49;
  --color-black-600: #1A1A1A;

  --bg-black-100: #010103;
  --bg-black-200: #0E0E10;
  --bg-black-300: #1C1C21;
  --bg-black-500: #3A3A49;
  --bg-black-600: #1A1A1A;

  /* Escala de blancos */

  --color-white-800: #E4E4E6;
  --color-white-700: #D6D9E9;
  --color-white-600: #AFB0B6;
  --color-white-500: #62646C;

  /* Escala de blancos bg */
  --bg-white-800: #E4E4E6;
  --bg-white-700: #D6D9E9;
  --bg-white-600: #AFB0B6;
  --bg-white-500: #62646C;

  --blue-1: #2D73C3;
  --blue-2: #325AB2;
  --blue-3: #1F386E;

  --cyan-1: #09E1F6;
  --cyan-2: #09D9EC;
  --cyan-3: #079BA8;

  --black-4: #0A0D36;


}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
body {
  background: var(--foreground);
  color: var(--foreground);
}


.c-space {
  @apply sm:px-10 px-5;
}

.head-text {
  @apply sm:text-4xl text-3xl font-semibold;
}

.nav-ul {
  @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
}

.nav-li {
  @apply text-[var(--cyan-2)] hover:text-white w-full rounded-md py-2 px-5 hover:bg-[var(--blue-1)] transition-all duration-500 ease-in-out;
}

.nav-li_a {
  @apply text-lg md:text-base hover:text-white transition-colors;
}

.nav-sidebar {
  @apply absolute left-0 right-0 bg-black-200 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
}

.text-gray_gradient {
  @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
}

/* button component */
.btn {
  @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md transition-all active:scale-95 text-white mx-auto;
}

.btn-ping {
  @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
}

.btn-ping_dot {
  @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
}

/* hero section */
.hero_tag {
  @apply text-center xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-black !leading-normal;
}

/* about section */
.grid-container {
  @apply w-full h-full border rounded-[40px] sm:p-7 p-4 flex flex-col gap-1;
}

.grid-headtext {
  @apply text-xl font-semibold mb-2 text-white;
}

.grid-subtext {
  @apply text-white text-base text-pretty;
}

.copy-container {
  @apply cursor-pointer flex justify-center items-center gap-2;
}

/* projects section  */
.arrow-btn {
  @apply flex justify-center items-center gap-5 w-[140px] h-10 p-4 cursor-pointer active:scale-95 transition-all bg-[var(--cyan-3)];
}

.tech-logo {
  @apply w-10 h-10 rounded-md p-2 bg-[var(--black-4)] backdrop-filter backdrop-blur-lg flex justify-center items-center;
}

/* clients section */
.client-container {
  @apply grid md:grid-cols-3 grid-cols-1 gap-5 mt-12;
}

.client-review {
  @apply rounded-lg md:p-10 p-5 col-span-1 bg-[var(--cyan-1)];
}

.client-content {
  @apply flex lg:flex-row flex-col justify-between lg:items-center items-start gap-5 mt-7;
}

/*  work experience section */
.work-container {
  @apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
}

.work-canvas {
  @apply col-span-1 rounded-lg;
}

.work-content {
  @apply col-span-2 rounded-lg;
}

.work-content_container {
  @apply grid grid-cols-[auto_1fr] items-start gap-5 transition-all ease-in-out duration-500 cursor-pointer hover:bg-[var(--blue-1)] rounded-lg sm:px-5 px-2.5;
}

.work-content_logo {
  @apply rounded-3xl w-16 h-16 p-2 bg-[var(--blue-2)];
}

.work-content_bar {
  @apply flex-1 w-0.5 mt-4 h-full bg-[var(--black-4)] group-hover:bg-[var(--blue-2)] group-last:hidden;
}

/* contact section */
.contact-container {
  @apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
}

.field-label {
  @apply text-lg text-white-600;
}

.field-input {
  @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-white-800 shadow-black-200 shadow-2xl focus:outline-none;
}

.field-btn {
  @apply bg-black-500 px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-white gap-3 mb-20;
}

.field-btn_arrow {
  @apply w-2.5 h-2.5 object-contain invert brightness-0;
}

/* Cystom styles */
.nav-logo,
.nav-ul {
  transform: translateY(-80);
}

.heroText,
.social-path a,
.profile-parent,
.brand-promise {
  opacity: 0
}

.shape-1 .shape {
  transform: translateY(-150);
}

.marco {
  display: none;
}

@media only screen and (min-width: 1015px) {
  .marco {
    display: block;
  }

  .marco-foto {
    display: none;
  }
}

.profile-parent {
  position: relative;
}

.glass {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.17);
}

.diamond-background-blue {
  width: 100%;

  background:
    linear-gradient(to bottom right, var(--cyan-1) 0%, var(--blue-1) 50%) bottom right,
    linear-gradient(to bottom left, var(--cyan-1) 0%, var(--blue-1) 50%) bottom left,
    linear-gradient(to top left, var(--cyan-1) 0%, var(--blue-1) 50%) top left,
    linear-gradient(to top right, var(--cyan-1) 0%, var(--blue-1) 50%) top right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.diamond-background-cyan {
  width: 100%;

  background:
    linear-gradient(to bottom right, var(--blue-1) 0%, var(--cyan-1) 50%) bottom right,
    linear-gradient(to bottom left, var(--blue-1) 0%, var(--cyan-1) 50%) bottom left,
    linear-gradient(to top left, var(--blue-1) 0%, var(--cyan-1) 50%) top left,
    linear-gradient(to top right, var(--blue-1) 0%, var(--cyan-1) 50%) top right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

/*  footer */
.social-icon {
  @apply w-12 h-12 rounded-full flex justify-center items-center bg-[var(--blue-1)];
}

.path-container {
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 1));

}


.path-profile {
  clip-path: path('M 40,0 L 315,0 A 30,30 0,0,1 342,27 L 342,40 A 23,23 0,0,0 368,52 A 30,30 0,0,1 400,78 L 400,372 A 65,65 0,0,1 340,420 L 101,420 A 45,45 0,0,1 60,373 L 60,280 A 25,25 0,0,0 40,255 L 28,255 A 25,25 0,0,1 0,230 L 0,40 A 40,40 0,0,1 40,0 Z');
}


.social-path {
  clip-path: inset(0.5px round 0 25px)
}


.animatedProject img {
  animation: projectAnimation 13s ease-in-out;
}

@keyframes projectAnimation {
  0% {
    top: 0,
  }

  100% {
    top: -100%
  }
}



::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, scale, opacity;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}